* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}

input {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}